* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: 'Poppins', sans-serif;
}


body {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  background-color: #111111ea;
}


h1 {
  color:#fff;
  padding-top: 40px;
  padding-left: 40px;
  padding-bottom: 20px;
  text-shadow: 2px 2px #000000;
}

.col-md-4 {
  color: #fff;
  padding-left: 60px;
}
.col-md-8 {
  padding: 50px;
}
.col-md-8 img {
  border-radius: 8px;
}
.container {
  width: 1100px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.container .card {
  width: 300px;
  height: 400px;
  margin: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  background-color: #05050573;
  position: relative;
  overflow: hidden;
  transition: 0.5;
}
.container .card .card-body {
  color: #fff;
  text-align: left;
  padding: 30px;
  opacity: 0.1;
  transition: 0.5s;
}
.container .card .card-body img {
  border-radius: 4px;
}
.container .card .card-body h2 {
  color: #1779ff;
  font-size: 4rem;
  font-weight: 900;
  opacity: 0;
  transition: 0.5s;
}
.container .card .card-body h3 {
  font-size: 2rem;
  font-weight: 900;
  margin-top: 20px;
  margin-bottom: 5px;
}
.container .card .card-body p {
  font-size: 1.1rem;
  font-weight: 300;
}
.container .card .card-body a {
  color: #0c002b;
  background-color: #fff;
  display: inline-block;
  font-size: 1.1rem;
  padding: 10px 15px;
  text-decoration: none;
  z-index: 2;
  position: absolute;
}
.container .card::before {
  content: "";
  position:absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.1);
  box-shadow: 0 20px 50px rgba(0, 0, 0, 0.2);
  z-index: 1;
}
.container .card span {
  opacity: 0;
  transition: 0.5;
}
.container .card span:nth-child(1) {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 3px;
  background: linear-gradient(to right, transparent, #2f7aeb);
  animation: animate1 2s linear infinite;
}
.container .card span:nth-child(2) {
  position: absolute;
  right: 0;
  top: 0;
  width: 3px;
  height: 100%;
  background: linear-gradient(to bottom, transparent, #153674);
  animation: animate2 2s linear infinite 1s;
}
.container .card span:nth-child(3) {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 3px;
  background: linear-gradient(to left, transparent, #2f7aeb);
  animation: animate3 2s linear infinite;
}
.container .card span:nth-child(4) {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 3px;
  height: 100%;
  background: linear-gradient(to top, transparent, #153674);
  animation: animate4 2s linear infinite 1s;
}
.container .card:hover .card {
  opacity: 0.2;
}
.container .card:hover:hover {
  opacity: 1;
}
.container .card:hover:hover .card-body {
  opacity: 1;
}
.container .card:hover:hover .card-body h2 {
  opacity: 1;
  transform: translateY(-70px);
}
.container .card:hover:hover span {
  opacity: 1;
}

/* Animations */
@keyframes animate1 {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(100%);
  }
}
@keyframes animate2 {
  from {
    transform: translateY(-100%);
  }
  to {
    transform: translateY(100%);
  }
}
@keyframes animate3 {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(-100%);
  }
}
@keyframes animate4 {
  from {
    transform: translateY(100%);
  }
  to {
    transform: translateY(-100%);
  }
}