{% extends "base.html" %}
{% load static %}
{% block page_content %}
<h1>Projects</h1>
<div class="row">
    {% for project in projects %}
        <div class="card" style="width: 18rem;">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <div class="card-body">
                <img class="card-img-top" src="{% static project.image %}">
                <h3 class="card-title">{{ project.title }}</h3>
                <p class="card-text">{{ project.description }}</p>
                <a href="{% url 'project_detail' project.pk %}"
                    class="btn btn-primary">
                    Read More
                </a>
            </div>
        </div>
    {% endfor %}
</div>
{% endblock %}